<div class="row">
    <div class="col p-0">
        <button class="btn btn-primary" ngbTooltip="Back to home..." routerLink="/"><fa-icon [icon]="faArrowLeft"></fa-icon> Back</button>
    </div>
</div>

<div class="row" *ngIf="!studentApply">
    <div class="col">
        <form class="p-5 mt-4 mb-5 rounded shadow" [formGroup]="newStudentApply" (submit)="submitForm()">
            <div class="mb-3 text-center">
                <h1><fa-icon [icon]="faIdCard"></fa-icon><br>New student application</h1>
                <p class="text-muted">Fill in the following form to join Hogwarts</p>
                <hr>
            </div>
            <div class="mb-3">
                <label for="fullname" class="form-label">Full name</label>
                <input type="text" class="form-control" formControlName="fullname" [ngClass]="validateInput('fullname','required') ? 'is-invalid' : '' || validateInput('fullname','minlength') ? 'is-invalid' : ''" placeholder="Ex: Diego Oropeza">
                <small class="form-text text-danger" *ngIf="validateInput('fullname','required')">{{ validateInput('fullname','required',true) }}</small>
                <small class="form-text text-danger" *ngIf="validateInput('fullname','minlength')">{{ validateInput('fullname','minlength',true) }}</small>
            </div>  
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" aria-label="Default select" formControlName="gender" [ngClass]="validateInput('gender','required') ? 'is-invalid' : ''">
                    <option selected disabled>Select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Famale">Famale</option>
                    <option value="Other">Not binary</option>
                </select>
                <small class="form-text text-danger" *ngIf="validateInput('gender','required')">{{ validateInput('gender','required',true) }}</small>
            </div>
            <div class="mb-3">
                <label for="species" class="form-label">Species</label>
                <input type="text" class="form-control" formControlName="species" placeholder="Ex: Human" [ngClass]="validateInput('species','minlength') ? 'is-invalid' : '' || validateInput('species','required') ? 'is-invalid' : ''">
                <small class="form-text text-danger" *ngIf="validateInput('species','required')">{{ validateInput('species','required',true) }}</small>
                <small class="form-text text-danger" *ngIf="validateInput('species','minlength')">{{ validateInput('species','minlength',true) }}</small>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" formControlName="age" placeholder="Ex: 18" [ngClass]="validateInput('age','required') ? 'is-invalid' : ''">
                <small class="form-text text-danger" *ngIf="validateInput('age','required')">{{ validateInput('fullname','required',true) }}</small>
            </div>
            <div class="mb-3">
                <label for="dateofbirth" class="form-label">Date of birth</label>
                <input type="date" class="form-control" formControlName="dateofbirth" [ngClass]="validateInput('dateofbirth','required') ? 'is-invalid' : ''">
                <small class="form-text text-danger" *ngIf="validateInput('dateofbirth','required')">{{ validateInput('dateofbirth','required',true) }}</small>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Ex: someone@gmail.com" [ngClass]="validateInput('email','email') ? 'is-invalid' : '' || validateInput('email','required') ? 'is-invalid' : ''">
                <small class="form-text text-danger" *ngIf="validateInput('email','required')">{{ validateInput('email','required',true) }}</small>
                <small class="form-text text-danger" *ngIf="validateInput('email','email')">{{ validateInput('email','email',true) }}</small>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" [disabled]="newStudentApply.invalid" class="btn btn-primary px-5">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <form class="p-5 mt-4 mb-5 rounded shadow text" [formGroup]="newStudentApply">
            <div class="mb-3 text-center">
                <h1><fa-icon [icon]="faEye"></fa-icon><br>Live preview</h1>
                <p class="text-muted">See what your application will look like in real time</p>
                <hr>
            </div>
            <div class="mb-3 text-ce">
                <label for="fullname" class="form-label">Full name</label>
                <input type="text" class="form-control" value="{{ getInputValue('fullname') }}" disabled>
            </div>  
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" class="form-control" value="{{ getInputValue('gender') }}" disabled>
            </div>
            <div class="mb-3">
                <label for="species" class="form-label">Species</label>
                <input type="text" class="form-control" value="{{ getInputValue('species') }}" disabled>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="text" class="form-control" value="{{ getInputValue('age') }}" disabled>
            </div>
            <div class="mb-3">
                <label for="dateofbirth" class="form-label">Date of birth</label>
                <input type="text" class="form-control" value="{{ getInputValue('dateofbirth') }}" disabled>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="text" class="form-control" value="{{ getInputValue('email') }}" disabled>
            </div>
            <hr class="my-4">
        </form>
    </div>
</div>

<div class="row" *ngIf="studentApply">
    <div class="alert alert-primary my-4" role="alert">
        <fa-icon [icon]="faCheck"></fa-icon> You have already applied to join Hogwarts, below you will see the status of your application. 
    </div>
    
    <div class="bg-dark text-white p-5 rounded shadow">
        <h1 class="text-center"><fa-icon [icon]="faIdCard"></fa-icon><br>Your application</h1>
        <hr>
        <form class="bg-light p-3 rounded text-dark p-5 rounded">
            <div class="mb-3">
                <label for="fullname" class="form-label">Full name</label>
                <input type="text" class="form-control" value="{{ studentApply.fullname }}" name="fullname" disabled>
            </div>
    
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" class="form-control" value="{{ studentApply.gender }}" name="gender" disabled>
            </div>
            <div class="mb-3">
                <label for="species" class="form-label">Species</label>
                <input type="text" class="form-control" value="{{ studentApply.species }}" name="species" disabled>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="text" class="form-control" value="{{ studentApply.age }}" name="age" disabled>
            </div>
            <div class="mb-3">
                <label for="dateofbirth" class="form-label">Date of birth</label>
                <input type="text" class="form-control" value="{{ studentApply.dateofbirth }}" name="dateofbirth" disabled>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="text" class="form-control" value="{{ studentApply.email }}" name="email" disabled>
            </div>
            <hr>
            <h4 class="text-center">Status: <span class="text-primary">{{ studentApply.status }}</span></h4>
        </form> 
    </div>
</div>